:root {
  --nav-height: 10vh;
  --theme-primary: rgba(8.2, 93.3, 60, 0.2);
  --theme-secondary: rgba(33.7, 51, 43.1, 0.2);
  --theme-tertiary: #333232;
}

.container {
  text-align: center;
  width: 100vw;
}

.site-logo {
  height: var(--nav-height);
}

.site-header {
  background-color: var(--theme-tertiary);
  min-height: var(--nav-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100vw;
}

.header-text, .subheader-text {
  font-family: 'Source Sans Pro', sans-serif;
}
.header-text {
  font-size: 2.4rem;
}
.subheader-text {
  font-size: 1.4rem;
}

/* Navbar CSS */

.navbar.navbar-dark.navbar-expand-lg {
  background-image: url("./nabar-link-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: var(--nav-height);
}

.navbar-link {
  border: 1px solid var(--theme-primary);
  border-radius: 30%;
  background-image: linear-gradient(to right, var(--theme-primary), var(--theme-secondary));
  font-family: 'Source Sans Pro', sans-serif;
}